# Exemplo de configuração - Copie para um arquivo .env e preencha as senhas
DB_USERNAME=[NOME_DO_USUARIO_BANCO_DE_DADOS]
DB_PASSWORD=[SENHA_DO_BANCO_DE_DADOS]
DB_NAME=[NOME_DO_BANCO_DE_DADOS]
SPRING_PORT=8080